.App {
  font-family: sans-serif;
  text-align: center;
}

.App__Input {
  width: 50%;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 6px;
}
.App__Output,
.App__EmojiTitle {
  padding: 1rem;
  font-size: x-large;
  font-weight: bold;
}

.App__EmojiList {
  padding: 1rem;
  font-size: x-large;
  font-weight: bold;
}

.App__EmojiList__Value {
  padding: 1rem;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid red;
  margin: 2px 2px;
  width: 30px;
  display: inline-block;
}
